.custom-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  border-color: aliceblue;
}

.custom-link:nth-child(odd) {
  background-color: #dc6900;
}

.custom-link:nth-child(even) {
  background-color: #eb8c00;
}
.container {
  font-family: Arial, sans-serif;
}

.loading {
  margin: 100px auto;
}

.project-details {
  margin-top: 30px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-header h1 {
  text-align: center;
  margin-bottom: 20px;
}

.details-header p {
  text-align: center;
  font-weight: bold;
}

.details-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.details-table th,
.details-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.details-table th {
  background-color: #ffaa33;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.nav-links a {
  margin: 5px;
  padding: 8px 15px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #0056b3;
}

.link a {
  color: #eb8c00;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.link a:hover {
  color: #ffaa33;
}

.link p {
  font-size: 14px;
  color: #444;
  margin-top: 5px;
}


.details-header h1 {
  color: #dc6900;
}

button.mat-icon-button .mat-icon {
  color: #e0301e; /* Changez la couleur comme vous le souhaitez */
}