<div >
  <section >
    <div >
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Calendrier</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="http://localhost:4200/Projet/ProjetHome/getParent">Retour</a></li>
            <li class="breadcrumb-item active">Calendrier</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <div id="contentToConvert" class="project-details">
    <!-- Ajoutez ici le code pour afficher les détails du projet si nécessaire -->

    <!-- Ajoutez la balise du calendrier -->
    <full-calendar [options]="calendarOptions"></full-calendar>

    <!-- Ajoutez ici d'autres éléments si nécessaire -->
  </div>
</div>
<br>
<br>
<br>
<br>
